@value makeBule, makeLightBule, makeDarkBule from '../../common/colors.css';

.header {
  position: relative;
  padding: 0.5em;
  width: 100%;
  text-align: center;
  background-color: makeBule;
}

.logo {
  width: 3em;
  margin: 0 auto;
}

.title {
  font-size: 1.5em;
}

.logout {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 0.8em;
  padding: 0.5em;
  background-color: makeLightBule;
  border-radius: 5px;
  transition: transform 0.5ms ease-in-out;
}

.logout:hover {
  transform: scale(1.1);
  font-weight: 700;
}
