@value makeDarkBule from '../../common/colors.css';

.login {
  width: 30em;
  text-align: center;
  background-color: white;
}

.container {
  padding: 1em 0;
}

.title {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  width: 100%;
}

.item > button {
  width: 80%;
  padding: 0.5em;
  border: 1.5px solid makeDarkBule;
  border-radius: 50px;
  font-size: 1em;
  transition: transform 0.5ms ease-in-out;
}

.item > button:hover {
  transform: scale(1.1);
  font-weight: 700;
}
