* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

button {
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

img {
  display: block;
}

li,
ol {
  list-style: none;
}
